<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>

    <style>
        th {
            background-color: #c5c2c2;
            border: solid 2px #595959;
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1em;
            text-align: center;
        }

        td {
            background-color: #2d2d2d;
            color: white;
            font-weight: bold;
            padding: .5em;
            text-align: center;
            border: solid 2px #595959;
        }
    </style>
</head>
<body>
<%- include('partials/navbar')%>
<div class="flex flex-col">
    <table class="mx-auto">
        <thead>
        <tr>
            <th>username</th>
            <th>first name</th>
            <th>last name</th>
            <th>phone</th>
            <th>email</th>
            <th>address</th>
            <th>delete</th>
            <th>update</th>
        </tr>
        </thead>
        <tbody>
        <% for(const user of users) { %>
            <tr>
                <td><%= user.user_username %></td>
                <td><%= user.user_first_name %></td>
                <td><%= user.user_last_name %></td>
                <td><%= user.user_phone_number %></td>
                <td><%= user.user_email %></td>
                <td><%= user.user_address %></td>
                <td>
                    <a href="/api/v1/delete-user/<%= user.user_id %>"
                       class="p-3 bg-red-500 hover:opacity-70 duration-300 rounded">delete user
                    </a>
                </td>
                <td class="p-7">
                    <a href="/api/v1/update-user-form/<%= user.user_id %>"
                       class="p-3 bg-blue-500 hover:opacity-70 duration-300 rounded">update user
                    </a>
                </td>
            </tr>
        <% } %>
        </tbody>
    </table>

    <a href="/api/v1/add-user-form"
       class="mt-10 mx-auto bg-green-500 p-3 rounded hover:opacity-70 duration-300 text-white font-bold">add
        user</a></div>

<%- include('partials/footer')%>


</body>
</html>