<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>

    <style>
        input {
            border: 1px solid;
            border-radius: 10px;
        }
    </style>

    <script>
        const updateUser = async (userId, profilePic, bio) => {

            const res = await fetch('http://localhost:3001/api/v1/user', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    user_id: userId,
                    newUser: {
                        user_username: document.getElementById('username').value,
                        user_first_name: document.getElementById('first-name').value,
                        user_last_name: document.getElementById('last-name').value,
                        user_phone_number: document.getElementById('phone-number').value,
                        user_email: document.getElementById('email').value,
                        user_address: document.getElementById('address').value,
                        user_profile_picture: profilePic,
                        user_bio: bio,
                        user_password: document.getElementById('password').value
                    }
                })
            })

             window.location.href = 'http://localhost:3001/api/v1/users'
        }
    </script>
</head>
<body>
<div class="h-screen flex items-center justify-center">
    <div class="border border-black drop-shadow-2xl bg-white rounded px-20 py-4">
        <h1 class="w-full text-center font-bold text-4xl">Update User</h1>
        <div class="flex flex-col gap-y-4 mt-8">
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="username">username</label>
                <input class="p-3" type="text" placeholder="enter username" value="<%= user.user_username %>"
                       id="username">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="first-name">first name</label>
                <input class="p-3" type="text" placeholder="enter first name" value="<%= user.user_first_name %>"
                       id="first-name">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="last-name">last name</label>
                <input class="p-3" type="text" placeholder="enter last name" value="<%= user.user_last_name %>"
                       id="last-name">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="phone-number">phone number</label>
                <input class="p-3" type="tel" placeholder="enter phone number" value="<%= user.user_phone_number %>"
                       id="phone-number">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="email">email</label>
                <input class="p-3" type="text" placeholder="enter email" value="<%= user.user_email %>" id="email">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="address">address</label>
                <input class="p-3" type="text" placeholder="enter address" value="<%= user.user_address %>"
                       id="address">
            </div>
            <div class="flex items-center gap-x-6 w-full justify-between">
                <label for="password">email</label>
                <input class="p-3" type="password" placeholder="enter password" value="<%= user.user_password %>"
                       id="password">
            </div>
            <button class="mx-auto p-3 bg-blue-500 text-white rounded hover:opacity-70 duration-300"
                    onclick="updateUser('<%= user.user_id %>', '<%= user.user_profile_picture %>', '<%= user.user_bio %>')">
                update
            </button>
        </div>
    </div>
</div>
</body>
</html>